
$color-black: #000000;
$color-white: #FFFFFF;

$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;

$color-gray-100: #f5f6f8;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-900: #111827;