@import 'src/styles/variables';

.App-header {
    background-color: $color-green-700;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.content-div {
    width: 95%;
    margin: auto;
}

.api-player-lookup {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.selected-player {
    height: 160px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
